<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buglife.sdk">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.sensor.accelerometer"/>

    <application
        android:label="@string/app_name">
        <activity
            android:name=".ReportActivity"
            android:label="@string/report_a_bug"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ScreenshotAnnotatorActivity"
            android:label="@string/screenshot_annotator_activity_label"
            android:noHistory="true"
            android:theme="@style/NoActionBarTheme"
            />
        <activity
            android:name=".VideoActivity"
            android:noHistory="true"
            android:theme="@style/NoActionBarTheme"
            />

        <service
            android:name=".reporting.SubmitReportService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>
